.left {
  background-color: hsl(240, 78%, 98%);
  display: grid;
  height: 94%;
  margin: 0;
  text-align: center;
  align-items: center;
  border-radius: 0.7rem;
  vertical-align: middle;
  margin-top: 2vh;
}

.titre1,
.text1,
.text2,
.text3,
.button1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: hsl(233, 13%, 49%);
}

.titre1 {
  font-size: 1.1rem;
  color: hsl(232, 13%, 33%);
}


.price1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  color: hsl(232, 13%, 33%);
}

.price2 {
  font-size: 1.9rem;
  vertical-align: middle;
  padding-right: 0.5rem;
  color: hsl(232, 13%, 33%);
}

.button1 {
  border: hsl(233, 13%, 49%) 0.1rem solid;
  font-size: 0.8rem;
  width: 100%;
  height: 6vh;
  color: hsl(237, 63%, 64%);
  font-weight: 600;
}

p {
  margin: 0;

}

hr {
  border: none;
  height: 0.01rem;
  background-color: hsl(233, 13%, 49%);
  opacity: 0.2;
}

@media only screen and (max-height: 728px) {

  .left {
    min-height: 230px;
  }

  .text1,
  .text2,
  .text3,
  .button1 {
    font-size: 0.8rem;
  }

  .titre1 {
    font-size: 1rem;
  }

  .price1 {
    font-size: 2.3rem;
  }

  .button1 {
    padding: 0;
    display: grid;
    align-content: center;
    font-size: 0.7rem;
  }

  hr {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
  }

  .lasthr {
    margin-top: 1.5vh;
    margin-bottom: 3.5vh;
  }

}
